html {
    font-size: 50px;
}
.mobileheader{
    background: #eeeeee;
    border-bottom: 1px solid #68f553;
}
.mobileheader_img{
    height: 50px;
}
.mobileheader_span{
    font-size: 35px;
    vertical-align: top;
    padding-left: 10px;
    color: darkgoldenrod;
}